# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DB_USERNAME="dbusername"
DB_PASSWORD="dbpassword"
DB_NAME="dbname"
DB_SCHEMA="public"
DB_TYPE="postgresql"
DB_HOST="0.0.0.0"
DB_PORT="5432"
POSTGRES_PORT="5432"

# DATABASE_URL="postgresql://postgres:password@localhost:5432/mydb?schema=public"
DATABASE_URL=postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${POSTGRES_PORT}/${DB_NAME}?schema=${DB_SCHEMA}
JWT_SECRET="hieutm want to keep this secret"

SOCKET_PORT="8081"

# command: 
# $ set -a
# $ source .env